@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply min-h-screen antialiased;
    background-color: theme('colors.background-light');
    color: #1e293b;
    /* slate-800 */

    /* Hide scrollbar for chrome/safari/opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .dark body {
    background-color: theme('colors.background-dark');
    color: #f1f5f9;
    /* slate-100 */
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe-top {
    padding-top: env(safe-area-inset-top);
  }
}