@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply min-h-screen antialiased text-sm;
    /* Default text size constrained */
    color: #000000;
    /* theme-black */
    background-color: #F5F5F5;
    /* theme-gray */

    /* Hide scrollbar for chrome/safari/opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}